<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>logoImg</key>
		<string>logo_zbb</string>
		<key>name</key>
		<string>折八百购物街</string>
		<key>desc</key>
		<string>折800——国内优质折扣商</string>
		<key>area</key>
		<string>乌鲁木齐市</string>
		<key>stage</key>
		<string>融资阶段</string>
		<key>reca</key>
		<string>红杉资本</string>
		<key>whichLun</key>
		<string>C轮</string>
		<key>demondMoney</key>
		<real>5000</real>
		<key>fansCount</key>
		<integer>20</integer>
		<key>chatCount</key>
		<integer>1817</integer>
	</dict>
	<dict>
		<key>logoImg</key>
		<string>logo_tmall</string>
		<key>name</key>
		<string>天猫商城</string>
		<key>desc</key>
		<string>天猫 - 中国线上购物的地标网站，亚洲超大的综合性购物平台，2000品类，70000个品牌，正品保障，全新一站式购物体验。</string>
		<key>area</key>
		<string>杭州</string>
		<key>stage</key>
		<string>上线</string>
		<key>reca</key>
		<string>软银集团</string>
		<key>whichLun</key>
		<string>D轮</string>
		<key>demondMoney</key>
		<real>5000</real>
		<key>fansCount</key>
		<integer>245</integer>
		<key>chatCount</key>
		<integer>184</integer>
	</dict>
	<dict>
		<key>logoImg</key>
		<string>logo_nm</string>
		<key>name</key>
		<string>百度糯米</string>
		<key>desc</key>
		<string>百度糯米(Nuomi.com）-百度团购与糯米网合并，正式升级为百度糯米，独家诚信担保“未消费，随便退”服务。</string>
		<key>area</key>
		<string>北京</string>
		<key>stage</key>
		<string>上线</string>
		<key>reca</key>
		<string>红杉资本</string>
		<key>whichLun</key>
		<string>C轮</string>
		<key>demondMoney</key>
		<integer>5000</integer>
		<key>fansCount</key>
		<integer>35</integer>
		<key>chatCount</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>logoImg</key>
		<string>logo_mgj</string>
		<key>name</key>
		<string>蘑菇街</string>
		<key>desc</key>
		<string>中国优质的女性购物电商平台，云集上千家款式时尚、风格独特、价格合理的买手店铺。</string>
		<key>area</key>
		<string>上海</string>
		<key>stage</key>
		<string>上线</string>
		<key>reca</key>
		<string>真格基金</string>
		<key>whichLun</key>
		<string>B轮</string>
		<key>demondMoney</key>
		<integer>5000</integer>
		<key>fansCount</key>
		<integer>20</integer>
		<key>chatCount</key>
		<integer>18</integer>
	</dict>
	<dict>
		<key>logoImg</key>
		<string>logo_zbb</string>
		<key>name</key>
		<string>折八百购物街</string>
		<key>desc</key>
		<string>折800——国内优质折扣商品推荐平台，8000万用户网购的共同选择！每天9点更新千款超值低价商品，全场包邮！</string>
		<key>area</key>
		<string>北京</string>
		<key>stage</key>
		<string>上线</string>
		<key>reca</key>
		<string>红杉资本</string>
		<key>whichLun</key>
		<string>B轮</string>
		<key>demondMoney</key>
		<integer>5000</integer>
		<key>fansCount</key>
		<integer>20</integer>
		<key>chatCount</key>
		<integer>18</integer>
	</dict>
	<dict>
		<key>logoImg</key>
		<string>logo_tmall</string>
		<key>name</key>
		<string>天猫商城</string>
		<key>desc</key>
		<string>天猫 - 中国线上购物的地标网站，亚洲超大的综合性购物平台，2000品类，70000个品牌，正品保障，全新一站式购物体验。</string>
		<key>area</key>
		<string>杭州</string>
		<key>stage</key>
		<string>上线</string>
		<key>reca</key>
		<string>软银集团</string>
		<key>whichLun</key>
		<string>B轮</string>
		<key>demondMoney</key>
		<integer>5000</integer>
		<key>fansCount</key>
		<integer>245</integer>
		<key>chatCount</key>
		<integer>184</integer>
	</dict>
	<dict>
		<key>logoImg</key>
		<string>logo_nm</string>
		<key>name</key>
		<string>百度糯米</string>
		<key>desc</key>
		<string>百度糯米(Nuomi.com）-百度团购与糯米网合并，正式升级为百度糯米，独家诚信担保“未消费，随便退”服务。</string>
		<key>area</key>
		<string>北京</string>
		<key>stage</key>
		<string>上线</string>
		<key>reca</key>
		<string>红杉资本</string>
		<key>whichLun</key>
		<string>D轮</string>
		<key>demondMoney</key>
		<integer>5000</integer>
		<key>fansCount</key>
		<integer>35</integer>
		<key>chatCount</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>logoImg</key>
		<string>logo_mgj</string>
		<key>name</key>
		<string>蘑菇街</string>
		<key>desc</key>
		<string>中国优质的女性购物电商平台，云集上千家款式时尚、风格独特、价格合理的买手店铺。</string>
		<key>area</key>
		<string>上海</string>
		<key>stage</key>
		<string>上线</string>
		<key>reca</key>
		<string>真格基金</string>
		<key>whichLun</key>
		<string>B轮</string>
		<key>demondMoney</key>
		<integer>5000</integer>
		<key>fansCount</key>
		<integer>20</integer>
		<key>chatCount</key>
		<integer>18</integer>
	</dict>
</array>
</plist>
