<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Id</key>
		<integer>1001</integer>
		<key>profileImageUrl</key>
		<string>headimg_default</string>
		<key>userName</key>
		<string>Lily</string>
		<key>mbtype</key>
		<string>u1f48b</string>
		<key>createdAt</key>
		<string>9:45</string>
		<key>source</key>
		<string>iphone 5s</string>
		<key>text</key>
		<string>人生，不过一杯茶，满也好，少也好，争个什么。浓也好，淡也好，自有味道。急也好，缓也好，那又如何？暖也好，冷也好，相视一笑。因为在乎，所以痛苦。因为怀疑，所以伤害。因为看淡，所以幸福。我们都是天地的过客，很多人事，我们都做不了主，一切随缘。</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>1001</integer>
		<key>profileImageUrl</key>
		<string>headimg_default</string>
		<key>userName</key>
		<string>Lily</string>
		<key>mbtype</key>
		<string>u1f48b</string>
		<key>createdAt</key>
		<string>9:45</string>
		<key>source</key>
		<string>iphone 5s</string>
		<key>text</key>
		<string>人生，不过一杯茶，满也好，少也好，争个什么。浓也好，淡也好，自有味道。急也好，缓也好，那又如何？暖也好，冷也好，相视一笑。因为在乎，所以痛苦。因为怀疑，所以伤害。因为看淡，所以幸福。我们都是天地的过客，很多人事，我们都做不了主，一切随缘。</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>1001</integer>
		<key>profileImageUrl</key>
		<string>headimg_default</string>
		<key>userName</key>
		<string>Lily</string>
		<key>mbtype</key>
		<string>u1f48b</string>
		<key>createdAt</key>
		<string>9:45</string>
		<key>source</key>
		<string>iphone 5s</string>
		<key>text</key>
		<string>人生，不过一杯茶，满也好，少也好，争个什么。浓也好，淡也好，自有味道。急也好，缓也好，那又如何？暖也好，冷也好，相视一笑。因为在乎，所以痛苦。因为怀疑，所以伤害。因为看淡，所以幸福。我们都是天地的过客，很多人事，我们都做不了主，一切随缘。</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>1001</integer>
		<key>profileImageUrl</key>
		<string>headimg_default</string>
		<key>userName</key>
		<string>Lily</string>
		<key>mbtype</key>
		<string>u1f48b</string>
		<key>createdAt</key>
		<string>9:45</string>
		<key>source</key>
		<string>iphone 5s</string>
		<key>text</key>
		<string>人生，不过一杯茶，满也好，少也好，争个什么。浓也好，淡也好，自有味道。急也好，缓也好，那又如何？暖也好，冷也好，相视一笑。因为在乎，所以痛苦。因为怀疑，所以伤害。因为看淡，所以幸福。我们都是天地的过客，很多人事，我们都做不了主，一切随缘。</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>1001</integer>
		<key>profileImageUrl</key>
		<string>headimg_default</string>
		<key>userName</key>
		<string>Lily</string>
		<key>mbtype</key>
		<string>u1f48b</string>
		<key>createdAt</key>
		<string>9:45</string>
		<key>source</key>
		<string>iphone 5s</string>
		<key>text</key>
		<string>人生，不过一杯茶，满也好，少也好，争个什么。浓也好，淡也好，自有味道。急也好，缓也好，那又如何？暖也好，冷也好，相视一笑。因为在乎，所以痛苦。因为怀疑，所以伤害。因为看淡，所以幸福。我们都是天地的过客，很多人事，我们都做不了主，一切随缘。</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>1001</integer>
		<key>profileImageUrl</key>
		<string>headimg_default</string>
		<key>userName</key>
		<string>Lily</string>
		<key>mbtype</key>
		<string>u1f48b</string>
		<key>createdAt</key>
		<string>9:45</string>
		<key>source</key>
		<string>iphone 5s</string>
		<key>text</key>
		<string>人生，不过一杯茶，满也好，少也好，争个什么。浓也好，淡也好，自有味道。急也好，缓也好，那又如何？暖也好，冷也好，相视一笑。因为在乎，所以痛苦。因为怀疑，所以伤害。因为看淡，所以幸福。我们都是天地的过客，很多人事，我们都做不了主，一切随缘。</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>1001</integer>
		<key>profileImageUrl</key>
		<string>headimg_default</string>
		<key>userName</key>
		<string>Lily</string>
		<key>mbtype</key>
		<string>u1f48b</string>
		<key>createdAt</key>
		<string>9:45</string>
		<key>source</key>
		<string>iphone 5s</string>
		<key>text</key>
		<string>人生，不过一杯茶，满也好，少也好，争个什么。浓也好，淡也好，自有味道。急也好，缓也好，那又如何？暖也好，冷也好，相视一笑。因为在乎，所以痛苦。因为怀疑，所以伤害。因为看淡，所以幸福。我们都是天地的过客，很多人事，我们都做不了主，一切随缘。</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>1001</integer>
		<key>profileImageUrl</key>
		<string>headimg_default</string>
		<key>userName</key>
		<string>Lily</string>
		<key>mbtype</key>
		<string>u1f48b</string>
		<key>createdAt</key>
		<string>9:45</string>
		<key>source</key>
		<string>iphone 5s</string>
		<key>text</key>
		<string>人生，不过一杯茶，满也好，少也好，争个什么。浓也好，淡也好，自有味道。急也好，缓也好，那又如何？暖也好，冷也好，相视一笑。因为在乎，所以痛苦。因为怀疑，所以伤害。因为看淡，所以幸福。我们都是天地的过客，很多人事，我们都做不了主，一切随缘。</string>
	</dict>
</array>
</plist>
